@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/fonts/woff2/FiraSans-Light.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/fonts/woff2/FiraSans-LightItalic.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/fonts/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/fonts/woff2/FiraSans-Italic.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/fonts/woff2/FiraSans-Bold.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/assets/fonts/woff2/FiraSans-BoldItalic.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


@font-face{
    font-family: 'Fira Mono';
    src: url('/assets/fonts/woff2/FiraMono-Regular.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('/assets/fonts/woff2/FiraMono-Bold.woff2') format('woff2'),
         url('/assets/fonts/woff/FiraMono-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
