@import url('/assets/css/fonts.css');

body {
    max-width: 50em;
    margin: 0 auto 1em;
    padding: 0 1em;
    font-family: 'Fira Sans', sans-serif;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    padding: .25em 0;
    margin: 0;
    font-size: 1.15em;
}

header > a {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
}

header > a > svg {
    margin-right: .25em;
}

header > ul {
    list-style: none;
}

header > ul > li {
    display: inline-block;
}

header > ul > li > a {
    padding: 0 .25em;
    color: #555555;
    text-decoration: none;
}

header > a {
    color: #000000;
    text-decoration: none;
}

code {
    font-family: 'Fira Mono', monospace;
    font-size: .8em;
}

pre {
    background: #eeeeee;
    padding: 1em;
    border-radius: 5px;
    white-space: pre-wrap;
    color: #555555;
}

blockquote {
    border-left: 5px solid #eeeeee;
    color: #555555;
    padding: 0 1em;
    margin: 0;
}

img {
    display: block;
    margin: auto;
    max-width: 50em;
}
